/* src/App.css or any relevant CSS file */
.chart-container {
  display: flex; /* Enable flexbox */
  justify-content: space-around;
  align-items: center; /* Center vertically */
  height: 400px; /* Set a fixed height for vertical centering */
  margin: 30px 0; /* Margin for spacing */

}

.pie-chart {
  width: 400px; /* Set the desired width of the pie chart */
  height: 400px; /* Set the desired height of the pie chart */
}
.chartjs-legend {
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Align items in a row */
  justify-content: center; /* Center align items horizontally */
  flex-wrap: wrap; /* Allow wrapping of items if needed */
  margin: 20px 0; /* Margin around the legend */
}
.chartjs-legend li {
  margin: 0 10px; /* Space between legend items */
}